/* Styles CSS généraux */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 40px auto 0; /* Ajoutez une marge supérieure de 20px et supprimez la marge inférieure */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    padding: 20px;
}

.clock {
    color: red;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime-local"],
input[type="file"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    font-size: 16px;
}

button[type="submit"],
button{
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button[type="submit"]:hover,
button:hover{
    background-color: #0056b3;
}

.btn {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: #0056b3;
}

.btn.btn-red {
    background-color: red;
    color: white; /* Pour assurer la lisibilité du texte */
}

.btn.btn-green {
    background-color: green;
    color: white; /* Pour assurer la lisibilité du texte */
}

.return-btn {
    display: block;
    text-align: center;
    margin-top: 20px;
    background-color: #6c757d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.return-btn:hover {
    background-color: #5a6268;
}

a {
    text-decoration: none;
    color: red;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Style général des cartes */
.card-dashboard {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style du titre des cartes */
.card-dashboard h3 {
    margin: 0;
    font-size: 13px;
    color: blue;
}

/* Style des liens dans les cartes */
.card-dashboard a {
    text-decoration: none;
    color: #007bff;
}

/* Style des liens au survol dans les cartes */
.card-dashboard a:hover {
    text-decoration: none;
    color: #0056b3;
}

.card {
    flex: 1;
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.card h2 {
    margin-top: 0;
    color: #333;
}

.user-registration-button {
    text-align: center;
    margin-top: 20px;
}

.user-icon-btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    font-size: 24px;
    line-height: 50px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.user-icon-btn:hover {
    background-color: #0056b3;
}

/* Styles pour les formulaires d'ajout et de modification */

form.add-form,
form.edit-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form.add-form h1,
form.edit-form h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form.add-form .form-group,
form.edit-form .form-group {
    margin-bottom: 20px;
}

form.add-form label,
form.edit-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

form.add-form input[type="text"],
form.edit-form input[type="text"],
form.add-form input[type="number"],
form.edit-form input[type="number"],
form.add-form input[type="date"],
form.edit-form input[type="date"],
form.add-form input[type="datetime-local"],
form.edit-form input[type="datetime-local"],
form.add-form textarea,
form.edit-form textarea,
form.add-form select,
form.edit-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form.add-form button[type="submit"],
form.edit-form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

form.add-form button[type="submit"]:hover,
form.edit-form button[type="submit"]:hover {
    background-color: #0056b3;
}

.dashboard-count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 18px;
}

.dashboard-item {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px 10px;
}

.dashboard-item i {
    margin-right: 10px;
    font-size: 24px;
    color: white;
}

.dashboard-item .count {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.dashboard-item .value {
    background-color: #f8f9fa;
    padding: 5px 10px;
    border-radius: 5px;
}
