<Files "*">
    Order Deny,Allow
    Deny from all
</Files>

<FilesMatch "\.(?i:pdf)$">
    <IfModule mod_rewrite.c>
        RewriteEngine On
        RewriteCond %{HTTP_REFERER} !^https://axeld\.yn\.lu/monentretienpro/lettredemotivation\.php$ [NC]
        RewriteRule \.pdf$ - [F,NC,L]
    </IfModule>
</FilesMatch>
